{% extends 'account/ac-base.html' %}
{% load crispy_forms_field %} 
{% load static %}
{% block ac-title %}
    Active your account
{% endblock ac-title %}

{% block ac-content %}
<div class="logo text-center" id="main_logoa">
  <a href="">
      <img src="{% static '/img/logo.png' %}" alt="">
  </a>
</div>
<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">Set you account Password</p>

    <form action="" method="POST">
      {% csrf_token %}
      <div id="first_page">
        <div class="input-group mb-3">
          <input type="password" name='password1' class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div> 
        <div class="input-group mb-3">
          <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>  
        
        {% if messages %}
            
            {% for message in messages %}
                <div class="login_error">
                    <p style="color: red;">{{message}}</p>
                </div>
            {% endfor %}
                
        {% endif %}
            
        <input class="btn btn-success float-right" type="submit" value="Set Password">


      </div> 

    </form>  
  </div>
  <!-- /.form-box -->
</div><!-- /.card -->
 

{% endblock ac-content %} 