{% extends 'account/ac-base.html' %}
{% load crispy_forms_field %} 
{% load static %}
{% block ac-title %}
    Investor Registrations
{% endblock ac-title %}

{% block ac-content %}
<div class="logo text-center" id="main_logoa">
  <a href="">
      <img src="{% static '/img/logo.png' %}" alt="">
  </a>
</div>
<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">PFA INVEST SIGN UP FORM    </p>

    <form action="" method="POST">
      {% csrf_token %}
      <div id="first_page">
        <div class="input-group mb-3" id="username_group">
          <input type="text" name='username' id="username" class="form-control" placeholder="Username" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div> 
        <div class="input-group mb-3" id="password_group">
          <input type="password" name="password" id='pass1' class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-1" id="pass2_group">
          <input type="password" id="pass2" name="password2" onkeyup="checkPassword()" class="form-control" placeholder="Retype password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div> 

        <div style="height: 20px;" class="d-block"><p class="m-0" id="pass_error"> </p></div>
        <div class="social-auth-links text-center mt-1">  
          <p onclick="openSecondPage()" class="btn btn-primary">Next</p> 
        </div>
      </div>

      <div id="second_page" class="second_page">
        <div class="custom_form">
          <div class="form-group">
            <input type="text" name="fname" placeholder="First Name" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" name="lname" placeholder="Last Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="tel" name="phone" placeholder="Phone" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" name="address" placeholder="Address" class="form-control" required>
          </div>
          <div class="form-group">
            <p class="mb-1">Amount Invested In Naira (₦)</p>
            <input type="number" name="amount_invest" placeholder="Amount Invested In Naira (₦)" onkeyup="amountCalculation()" id="invest_amount" class="form-control"  required>
          </div>
          <div class="form-group">
            <p class="mb-1">Expected Interest In Naira (₦)</p>
            <input type="number" name="earning_amount" placeholder="Expected Interest In Naira (₦)" id="earning_amount" class="form-control" readonly>
          </div>
          <div class="form-group">
            <p class="mb-1">Date of Investment</p>
            <input type="date" name="invest_date" onchange="autoDate()" id="invest_date" class="form-control" required>
          </div> 
          <div class="form-group">
            <p class="mb-1">Expacted Withdrawal Date</p> 
            <input type="text" name="withdraw_date_show" placeholder="" id="withdraw_data" class="form-control" readonly>
            <input type="hidden" name="withdraw_date" id="withdraw_data_main" class="form-control" readonly>
          
          </div>
          <div class="form-group">
            <select name="bank_name" class="form-control" id=" required>
              <option value="">Select Bank Name</option>
              {% for bank in bank_list %}
                <option value="{{bank.id}}">{{bank}}</option>
              {% endfor %}
                
            </select>
          </div>
          <div class="form-group" id="account_number_group">
            <input type="text" id="bank_account" onkeyup="bankAccountNumberCheck()" name="bank_account" placeholder="Account Number" class="form-control" maxlength="10" required>
            <p id="bank_error"></p>
          </div> 
          <div class="form-group">
            <input type="checkbox" name="" id="" class="form-control d-inline-block" style="width:50px;float:left" required> <span style="vertical-align:middle;padding-top:7px;">  Agree with the <a target="_blank" href="{% url 'investor:terms_condition' %}">terms and condition</a></span>
          </div>
          <div class="form-group d-block overflow-hidden">
            <p onclick="openFirstPage()" class="btn btn-primary float-left">Back</p>  
            <input class="btn btn-success float-right" type="submit" value="Submit">
          </div> 
        </div>
      </div>

    </form> 
    <p>Already have an Account? <a href="{% url 'investor:investor_login' %}">Login</a> </p>

  </div>
  <!-- /.form-box -->
</div><!-- /.card -->
 

{% endblock ac-content %}
{% block ac-script %}
  <script>

    function amountCalculation(){
      var invest_amount = document.getElementById("invest_amount").value
      var earning_amount = (15* invest_amount)/100
      earning_amount = Math.floor(earning_amount)
      document.getElementById("earning_amount").setAttribute('value',earning_amount)

    }


    function autoDate(){
      var main_date = document.getElementById('invest_date').value; 
      console.log(main_date)
      var chooseDate=new Date(main_date);
      var date_in_milisec = chooseDate.setMonth(chooseDate.getMonth()+1);
      var full_date = new Date(date_in_milisec)   

      var date = new Date(full_date),
      mnth = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
      var show_date =  [mnth, day, date.getFullYear()].join(" / ") 
      var finial_date =  [date.getFullYear(), mnth, day].join("-") 

      var date_size = finial_date.length
      console.log(date_size)
      if(date_size > 9){ 
        document.getElementById("withdraw_data").setAttribute('value',show_date)
        document.getElementById("withdraw_data_main").setAttribute('value',finial_date)
      }
      else{
        document.getElementById("withdraw_data").setAttribute('value'," ")
        document.getElementById("withdraw_data_main").setAttribute('value'," ")
      }
    }



    function checkPassword(){
      var pass1 = document.getElementById('pass1').value
      var pass2 = document.getElementById('pass2').value
      var size = pass2.length
      console.log(pass1, pass2, size)
      if (size > 0){
        if(pass1 === pass2){
          document.getElementById("pass_error").innerHTML= "Password Matched"
        }
        else{
          document.getElementById("pass_error").innerHTML= "Password Doesn't Match"
        }
      }
      else{
        document.getElementById("pass_error").innerHTML= "" 

      }
     
    }



    function openSecondPage(){
      var p1 = document.getElementById("first_page")
      var p2 = document.getElementById("second_page") 
      var username = document.getElementById('username').value  
      var password = document.getElementById('pass1').value
      var password2 = document.getElementById('pass2').value 
      len1 = username.length
      len2 = password.length
      len3 = password2.length 

      if(len1 < 1){
        document.getElementById('username_group').style.border = "1px solid red"
      }
      if(len2 < 1){
        document.getElementById('password_group').style.border = "1px solid red"
      }
      if(len3 < 1){
        document.getElementById('pass2_group').style.border = "1px solid red"
      }
      if(len2 < 1 || len2 < 1|| len3 < 1){
        document.getElementById("pass_error").style.color = 'red'
        document.getElementById("pass_error").innerHTML= "Please Fix the Error"
      }
      else{
        p1.style.display = 'none' 
        p2.style.display = 'block'
        document.getElementById("main_logoa").style.marginTop = '260px'
      } 
    }

    function openFirstPage(){
      var p1 = document.getElementById("first_page")
      var p2 = document.getElementById("second_page") 
      p1.style.display = 'block' 
      p2.style.display = 'none'
      document.getElementById("main_logoa").style.marginTop = '0px'

    }
 
    function bankAccountNumberCheck(){
      value = document.getElementById('bank_account').value
      value_len = value.length
      if(value_len == 10){
        document.getElementById('bank_error').innerHTML = "Perfect account number"
        document.getElementById('bank_error').style.color = 'navy'
        document.getElementById('bank_account').style.border = "1px solid #939ba2"
      }
      else{
        document.getElementById('bank_error').innerHTML = "Account number must be 10 digits"
        document.getElementById('bank_account').style.border = "1px solid red"
        document.getElementById('bank_error').style.color = 'red'

      }
      if(value_len < 1){
        document.getElementById('bank_error').innerHTML = "" 
      }
    }

  </script>  
 

{% endblock ac-script %}