{% extends 'dashboard/base/base.html' %}
{% load extra_tags %}

{% block d-title %}
    Admin Password Change
{% endblock d-title %} 

{% block d-content %} 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12"> 
          <h1 class="m-0 text-dark">Admin Password Change</h1> 
        </div> 
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<section class="message_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if messages %}  
                    {% for message in messages %}
                        <p class="pb-1" style="color: red;">{{message}}</p>
                    {% endfor %} 
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="invest_request_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="card card-body"> 
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Old Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="old_pass" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">New Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="pass" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Confirm New Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="cpass" class="form-control" required>
                            </div>
                        </div> 
                        <div class="form-group row"> 
                            <div class="col-sm-9 offset-sm-3">
                                <input class="btn btn-success" type="submit" value="Change Password">
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> 
{% endblock d-content %}
  
{% block d-script %}
   <script>
       
   </script>
{% endblock d-script %}