{% extends 'dashboard/base/base.html' %}
{% load extra_tags %}
{% load humanize %}
{% block d-title %}
    Pending Invest Request
{% endblock d-title %} 

{% block d-content %} 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12"> 
          <h1 class="m-0 text-dark">Pending Invest List</h1> 
        </div> 
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div> 
<section class="invest_request_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% for message in messages %}
                    <p class="float-left mb-1" style="color: red;">{{message}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="">

                </table>
                <table class="table table-bordered table-striped text-center">
                    <thead class="table-dark text-center">
                      <th>SL</th> 
                      <th>Amount to Invest</th>
                      <th>Date of Invest</th>
                      <th>Expected Interest</th>
                      <th>Withdraw Date</th>
                      <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                      
                      {% for item in pending_invest_list %}
                      <tr>
                        <td class=" align-middle">{{forloop.counter}}</td> 
                        <td class=" align-middle">₦{{item.amount_to_invest|coma_separator_value}}</td>
                        <td class=" align-middle">{{item.date_of_invest |date}}</td>
                        <td class=" align-middle">₦{{item.expected_interest | coma_separator_value}}</td>
                        <td class=" align-middle">{{item.withdraw_date |date}}</td>
                        <td class=" align-middle">
                          
                          <div class="modal fade" id="cancale-{{item.id}}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content"> 
                                <div class="modal-body">
                                    <p>Are you sure you want to Cancel</p>  
                                    <hr>
                                    <a href="{% url 'investor:investor_cancle_investment' item.id %}" class="btn btn-sm btn-info mr-3 pr-3 pl-3">Yes</a>
                                    <button type="button" data-dismiss="modal" class="btn btn-info btn-sm pr-3 pl-3">No</button>
                                </div>
                                </div>
                            </div>
                        </div>  
                          <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#cancale-{{item.id}}">Cancel</button>
         
                        </td>
                      </tr>
                      {% endfor %} 
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section> 
{% endblock d-content %} 
{% block d-script %}
    <script> 
    </script>

{% endblock d-script %}