{% extends 'dashboard/base/base.html' %}
{% load extra_tags %}

{% block d-title %}
    Investor Account Update
{% endblock d-title %} 

{% block d-content %} 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12"> 
          <h1 class="m-0 text-dark">Investor Account Update</h1> 
        </div> 
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<section class="message_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if messages %}  
                    {% for message in messages %}
                        <p class="pb-1" style="color: red;">{{message}}</p>
                    {% endfor %} 
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="invest_request_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="card card-body"> 
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="username" value="{{investor.username}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="fname" value="{{investor.first_name}}" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="lname" value="{{investor.last_name}}" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" name="email" value="{{investor.email}}" class="form-control" readonly>
                            </div>
                        </div>  
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <input type="tel" name="phone" value="{{investor.phone}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" name="address" value="{{investor.address}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Select Bank</label>
                            <div class="col-sm-9">
                                <select name="bank" class="form-control w-100" id=""> 
                                    {% for bank in bank_list %}
                                        
                                        {% if bank.id == investor.bank_name.id  %}
                                            <option value="{{bank.id}}" selected>{{bank}}</option>
                                        {% else %}
                                            <option value="{{bank.id}}">{{bank}}</option>
                                        {% endif %} 
                                    {% endfor %}    
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label">Bank Account Number</label>
                            <div class="col-sm-9">
                                <input type="number" name="bank_account" value="{{investor.account_number}}" class="form-control" required>
                            </div>
                        </div> 

                        <div class="form-group row"> 
                            <div class="col-sm-9 offset-sm-3">
                                <input class="btn btn-success" type="submit" value="Update Account">
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>  
{% endblock d-content %}
  
{% block d-script %}
   <script>
       
   </script>
{% endblock d-script %}