{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms And Condition</title>
    <style>
        .wrapper{ 
            padding:0 45px;
        }
        p{
            line-height: 1.55;
            margin-bottom: 11px;
        }
        h4{
            text-align: center;
        }
        .margin_left{
            margin-left:15px;
        } 
        table tr td img{
            width:60px;
        }
    </style>
</head>
<body>
    <div style="font-size:15px;" class="wrapper">
        <br>
    <h4 style="text-align: center;font-size:18px;;margin-top:60px;padding-top:40px;">PFA INVEST Investors Agreement</h4>
    <p>This AGREEMENT is made and entered into as of <strong>{{date}}</strong> by and among:</p>
    <p> <strong>{{investor.first_name}} {{investor.last_name}}</strong> a resident of <strong>{{investor.address}}</strong>
    (referred to collectively as "Investors" and individually as "Investor"), and PFA Invest whose
    official website address is pfaccounts.com</p>
    <h4>RECITALS</h4> 
    <p>The Investors are all the Investors of PFA Invest ("the LLC"), an online based business platform geared at empowering Freelancers.</p>
    <p>The Investors believe it is in their best interest to unanimously agree to terms below related to the operation, management and control of the LLC in order to achieve harmonious balance and direction.</p>

    <h4>AGREEMENT</h4>
    <p>In consideration of the agreements herein contained, the Investors agree as follows.</p>
    <p><strong>1. Allocation Subject to This Agreement.</strong></p>
    <div class="margin_left">
        <p>Each of the Investors is entitled the percentage interest of primary investment monthly below:</p>
        <p><strong>Investor - 15%</strong></p>
        <p>a. The interest listed above constitute all of the issued and outstanding capital stock of the LLC with reference to individual investment. The LLC acknowledges receipt from each Investor of the full consideration for the respective investment offer purchased by said Investor, and each Investor acknowledges receipt of/certificates representing his or her investments. All of the interests listed above and any additional interest of the capital stock of the LLC that may be acquired by the Investors in the future shall be subject to this Agreement.</p>
        <p>d. <i>Conduct of Business</i>. The Managing Investor agrees to use the Investor's best efforts to cause the business of the LLC to be conducted in accordance with sound business practices, in a lawful manner, and to endeavor to preserve for the LLC the goodwill of its suppliers, customers, employees, and others having business relations with it.</p>
        <p>c. <i>Investor Meetings.</i> There shall be no regular meetings of Investors of the LLC.</p>
    </div> 
    <br><br>
    <p style="padding-top: 40px;"><strong>2. Dissolution.</strong></p>
    <div class="margin_left">
        <p>a. <i>Restrictions on Voluntary Dissolution.</i> The Consent of the Investors shall be required to approve the voluntary dissolution of the LLC and each Investor waives any right to the taking of that action by the approval, consent, or vote of a lesser percentage.</p>
        <p>b. <i>Procedures During Winding Up</i>. On commencement of dissolution proceedings either by
            election of all Investors or otherwise, the LLC will cease to carry on business except as
            necessary to wind up its business and distribute its assets. The Managing Investor will
            perform the following acts, as necessary, to wind up the affairs of the LLC:</p>
            <div class="margin_left">
                <p>Employ agents and attorneys to liquidate and wind up the affairs of the LLC;</p>
                <p>Continue the business as necessary for the winding up of the affairs of the LLC;</p>
                <p>Carry out contracts and collect, pay, compromise, and settle debts and claims for or against the LLC;</p>
                <p>Defend suits brought against the LLC;</p>
                <p>Sue, in the name of the LLC, for all sums due to the LLC or recover any of its property;</p>
                <p>Collect any amounts owing on subscriptions to shares or recover unlawful distributions;</p>
                <p>Sell at public or private sale, exchange, convey, or otherwise dispose of all or any part of
                    the assets of the LLC for cash in an amount considered reasonable by the CEO, or his or
                    her appointee(s); Make contracts and take any steps in the name of the LLC that are
                    necessary or convenient in order to wind up the affairs of the LLC.</p>
            </div>
        <p>c. <i>Distribution of Assets on Dissolution</i>. The Managing Investor will apply the assets of the
            LLC in the following order:</p>
            <div class="margin_right">
                <p>To all debts and liabilities of the LLC in accordance with the law, including the expenses of dissolution and liquidation, but excluding any debts to a Investor;</p>
                <p>To all senior debts to a Investor in accordance with the terms of any subordination agreement;</p>
                <p>To the accrued and unpaid interest on unsubordinated debts to a Investor;</p>
                <p>To the principal of unsubordinated debts to a Investor;</p>
                <p>To undistributed net profits of the LLC, subject to the provisions of this Agreement; To repayment of the purchase price of the shares of the LLC actually paid by each Investor; and, finally,</p>
                <p>To the Investors in proportion to the number of shares of the LLC held by each.</p>
            </div>
    </div>
    <p style="padding-top: 40px;"><strong>3. Restrictions On Transfer</strong></p>
    <div class="margin_left">
        <p>a. <i>Restrictions on Transfer</i>. To accomplish the purposes of this Agreement, any transfer, sale, assignment, hypothecation, encumbrance, or alienation of any of the shares of the LLC, other than according to the terms of this Agreement is void and transfers no right, title, or interest in or to those shares to the purported transferee, buyer, assignee, pledgee, or encumbrance holder. Each Investor shall have the right to vote shares held of record and to receive dividends paid on them until the shares are sold or transferred in accordance with this Agreement.</p>
        <p>b. <i>Permitted Transfers.</i> A Investor may transfer all or any part of his or her shares to: a spouse, ancestors or lineal descendants or the spouses of any of such persons, or to any trust solely for the benefit of the Investor or any of the foregoing persons, provided that each such permitted transferee shall first agree in writing to be bound by the terms and provisions of this Agreement. A Investor may also transfer all or any part of his or her shares if that transfer is approved in writing by a majority of the aggregate of the remaining, untransferred shares.</p>
    </div>
    <p><strong>4. Dispute Resolution.</strong></p>
    <div class="margin_left">
        <p><i>Alternative Dispute Resolution.</i> The parties will attempt to resolve any dispute arising out of or relating to this Agreement through friendly negotiations amongst the parties. If the matter is not resolved by negotiation, the parties will resolve the dispute using the below Alternative Dispute Resolution (ADR) procedure.</p>
        <p>Any controversies or disputes arising out of or relating to this Agreement will be resolved by binding arbitration under the rules of the American Arbitration Association. The arbitrator's award will be final, and judgment may be entered upon it by any court having proper jurisdiction.</p>
    </div>
    <p><strong>5. Noncompetition, Trade Secrets.</strong></p>
    <div class="margin_left">
        <p>a. <i>Noncompetition</i>. Each Investor agrees that as long as he or she is the owner, or in control
            of, any of the LLC's shares, the Investor will not be employed, concerned, or financially
            interested, either directly or indirectly, in the same or a similar business as that conducted by
            the LLC, or compete with the LLC. Unless otherwise agreed to in writing by a majority of the
            remaining Investors, a departing Investor will not be employed, concerned, or financially
            interested, either directly or indirectly, in the same or a similar business as that conducted by
            the LLC, or compete with the LLC for a one-year period following the date the departing
            Investor conveys his or her shares if any customers of the same, similar, or competing
            business may be located within a 100 mile radius of the principal place of business of the
            LLC.</p>
        <p>b. Trade Secrets. Each Investor acknowledges that the customer lists, potential customer lists, trade secrets, processes, methods, and technical information of the LLC and any other <br><br><br> matters designated by the written consent of all Investors are valuable assets. Unless he or she obtains the written consent of each of the other Investors, each Investor agrees never to disclose to any individual and organization, except in authorized connection with the business of the LLC, any customer list, or any name on that list, or any trade secret, process, or other matter
            referred to in this paragraph while the Investor holds, or has the control of, any shares of the LLC, or at any later time.</p>
            <p>This Agreement is in compliance with the Defend Trade Secrets Act and provides civil or criminal immunity to any individual for the disclosure of trade secrets: (i) made in confidence to a federal, state, or local government official, or to an attorney when the disclosure is to report suspected violations of the law; or (ii) in a complaint or other document filed in a lawsuit if made under seal.</p>

    </div>
    <p><strong>6. Termination and Amendment.</strong></p>
    <div class="margin_left">
        <p>a. This Agreement shall remain in effect until all the Investors agree to termination in writing.
            Notwithstanding an original issuance of shares by the LLC to a new Investor who does not
            become a party to this Agreement, this Agreement shall continue to the extent it is legally
            enforceable.</p>
            <p>b. This Agreement may be amended only by a written agreement executed and delivered by
                each Investor. If an Investor chooses to terminate his investment contract with PFA, he must notify PFA at
                least a month prior to next withdrawal date.</p>
    </div>
    <p><strong>7. Miscellaneous Provisions.</strong></p>
    <div class="margin_left">
    <p>a. <i>Waiver of Law.</i> This Agreement does not alter or waive any provision of the Law except as
        expressly provided herein; provided, however, each Investor hereby expressly waives the
        provisions of the Law to the full extent permitted by the Law in order to uphold the provisions
        and validity of this Agreement and to cause this Agreement to be valid, binding, and
        enforceable in accordance with its terms upon each of the Investors and their respective
        transferees, successors and assigns.</p> 
    <p>b. <i>Notices</i>. Any notice under this Agreement shall be deemed sufficiently given by one party
        to another if in writing and if and when delivered or tendered either in person or by the
        deposit of it in the United States mail in a sealed envelope, registered or certified, with
        postage prepaid, addressed to the person to whom notice is being given at that person's
        address appearing on the records of the LLC or any other address as may have been given by
        that person to the LLC for the purposes of notice in accordance with this subsection. A notice
        not given as above shall, if it is in writing, be deemed given if and when actually received by
        the party to whom it is required or permitted to be given. It is the responsibility of each
        Investor to ensure that the LLC has the Investor's correct address to receive notice.</p>
    <br><br><br><p>c. <i>Governing Law.</i> This Agreement shall be governed by and construed in accordance with the
        laws of the State of New York. Any action to enforce this Agreement must be brought within
        the state whose laws govern this Agreement.</p>
        <p>d. <i>Captions</i>. Captions to sections, subsections, and paragraphs in this Agreement are inserted
            for convenience only and shall not affect the construction or interpretation of this Agreement.</p>
        <p>e. <i>Counterparts and Duplicate Originals</i>. This Agreement and all amendments may be
            executed in several counterparts and each counterpart shall constitute a duplicate original of
            the same instrument.</p>
        <p>f. <i>Successors</i>. Anything in this Agreement to the contrary notwithstanding, any transferee,
            successor, holder, or assignee, whether voluntary, by operation of law, or otherwise, of the
            shares of the LLC shall be subject to and bound by this Agreement as fully as though a
            signatory.</p>
        <p>g. <i>Severability</i>. Any provision prohibited by, unlawful or unenforceable under any applicable
            law of any jurisdiction shall as to that jurisdiction be ineffective without affecting any other
            provision of this Agreement. To the full extent, however, that the provisions of that applicable
            law may be waived, they are waived to the end that this Agreement be deemed to be a valid
            and binding agreement enforceable in accordance with its terms.</p>
        <p>h. <i>Recovery of Expenses</i>. Except as provided in Section 7 with respect to alternative dispute
            resolution, if a dispute arises with respect to this Agreement, the prevailing party shall be
            entitled to recover all expenses, including, without limitation, reasonable attorneys' fees and
            expenses, incurred in ascertaining that party's rights, in preparing to enforce, or in enforcing
            that party's rights under this Agreement, whether or not it was necessary for that party to
            institute suit.</p>
        <p>i. <i>Remedies</i>. The parties shall have all remedies for breach of this Agreement available to
            them provided by law or equity. Without limiting the generality of the foregoing, the parties
            agree that in addition to all other rights and remedies available at law or in equity, the parties
            shall be entitled to obtain specific performance of the obligations of each party to this
            Agreement and immediate injunctive relief and that in the event any action or proceeding is
            brought in equity to enforce the same, no Investor will urge, as a defense, that there is an
            adequate remedy at law.</p> 
        <p margi>j. <i>Third Parties</i>. Nothing in this Agreement, whether express or implied, is intended to confer
            any rights or remedies under or by reason of this Agreement on any persons other than the
            parties to it and the LLC and their respective permitted transferees, successors, and assigns,
            nor is anything in this Agreement intended to relieve or discharge the obligation or liability of
            any third persons to any party to this Agreement or to the LLC, nor shall any <br><br><br> provision give
            any third  person any right of subrogation or action over or against any party to this Agreement
            or the LLC.</p>
        <p>k. <i>Time</i>. Time is of the essence of this Agreement.</p>
        <p>l. <i>Filing of Agreement</i>. A copy of this Agreement, as amended from time to time, shall be
            filed with the Secretary of the LLC for inspection by any prospective purchaser of shares of
            the LLC.</p> 
        </div>
        <p>This Investors Agreement is executed and agreed to by: </p>
        <br><br>
        <table>
            <tr>
                <td style="display: block;width:40%;">
                <img src="http://127.0.0.1:8000/media/upload/sign.png" alt="">
                <p>CEO PFA <br>
                <a style="color: #000;" href="mailto:info@pfaccounts.com">info@pfaccounts.com</a> <br>
               {{date}}</p> 
                </td>
                <td style="display: block;width:60%;">
                <p style="display: block;">Investor's Sign:_______________</p>
                <p>Name:{{investor.first_name}} {{investor.last_name}}</p>
                <p>Date:{{date}}</p>  
                </td>
            </tr>
        </table>
                

                
</div>
</body>
</html>