{% load extra_tags %}
{% load humanize %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'investor:dashboard' %}" class="nav-link">Dashboard</a>
      </li>
      
      {% if request.user.is_authenticated %}
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'investor:admin_logout' %}" class="nav-link">Log out</a>
        </li>
      {% elif request.session.investor %}
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'investor:investor_logout' %}" class="nav-link">Log out</a>
        </li>
      {% elif request.session.editor %}
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'investor:user_logout' %}" class="nav-link">Log out</a>
        </li>
      {% endif %}  
      
      {% if request.session.investor %}
        
      <li class="nav-item d-none d-sm-inline-block">
        <a class="btn btn-info btn-sm mt-1" href="{% url 'investor:request_to_invest' request.session.investor %}" class="nav-link">Request to Invest</a>
      </li>
        
      {% endif %}
    </ul>  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->

      {% if request.user.is_authenticated or request.session.editor %}
        {% if request.user.is_authenticated or request.session.editor|user_has_access:"Inbox"%}
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'investor:admin_chat' 0 %}">
            <i class="far fa-comments"></i> 
              {% if admin_message|show_unread_admin_message %}
              <span class="badge badge-danger navbar-badge"> {{admin_message|show_unread_admin_message }}</span>
              {% endif %}  
          </a> 
        </li>
        {% endif %}
      {% elif request.session.investor %}
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'investor:investor_chat' request.session.investor  %}">
            <i class="far fa-comments"></i> 
              {% if request.session.investor|show_unread_investor_message %}
              <span class="badge badge-danger navbar-badge"> {{request.session.investor|show_unread_investor_message }}</span>
              {% endif %}  
          </a> 
        </li>
      {% endif %}  
 
      
      <!-- Notifications Dropdown Menu -->
      {% if request.user.is_authenticated or request.session.editor %} 

      {% if request.user.is_authenticated or request.session.editor|user_has_access:"Notification"%}

      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>  
            <span class="badge badge-warning navbar-badge" id="adnt" data-value="{{admin_notification|admin_notifications}}">{{admin_notification|admin_notifications}}</span> 
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notification_button"> 
          <span class="dropdown-item dropdown-header">{{admin_notification|admin_notifications}} Notifications</span> 
          
          {% for item in admin_notification|admin_notification_list %}
          <div class="border-top alert alert-dismissible fade show no-border my_notification" role="alert">
            <button type="button" class="close color-white" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <a class="text-muted" href="{% url 'investor:single_nofication' item.id %}">{{item.title|safe}}</a> 
            <span class="m-0 text-muted text-sm">{{item.date|naturaltime}}</span>
          </div> 
            
          {% endfor %} 
          <div class="dropdown-divider"></div>
          <a href="{% url 'investor:admin_unread_notifications' %}" class="dropdown-item dropdown-footer">New Notifications</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'investor:admin_notification_list' %}" class="dropdown-item dropdown-footer">All Notifications</a>
        </div>
      </li>
      {% endif %}

      {% elif request.session.investor %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>  
            <span class="badge badge-warning navbar-badge" id="adnt" data-value="{{request.session.investor|investor_notifications}}">{{request.session.investor|investor_notifications}}</span> 
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notification_button"> 
          <span class="dropdown-item dropdown-header">{{request.session.investor|investor_notifications}} Notifications</span> 
          
          {% for item in request.session.investor|investor_notification_list %}
          <div class="border-top alert alert-dismissible fade show no-border my_notification" role="alert">
            <button type="button" class="close color-white" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <a class="text-muted" href="{% url 'investor:single_nofication' item.id %}">{{item.title|safe}}</a> 
            <span class="m-0 text-muted text-sm">{{item.date|naturaltime}}</span>
          </div> 
            
          {% endfor %}
             

          <div class="dropdown-divider"></div>
            <a href="{% url 'investor:investor_unread_notification_list' request.session.investor %}" class="dropdown-item dropdown-footer">New Notifications</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'investor:investor_notification_list' request.session.investor %}" class="dropdown-item dropdown-footer">All Notifications</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item mr-4">
         
      </li>
    </ul>
  </nav>